@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');


/* Basic */

* {
	margin: 0 auto 0 auto;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(42,75,55);
    min-height: 100vh;
    padding: 0;
}

/* Text */
p {
    margin: 0 0 1em 0;
    color:#0a0a0a !important;
    padding:  0.5em 1em;
}


h1, h2, h3, h4, h5, h6 {
    color: #6B5145;
    font-weight: 400;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    line-height: 1.5em;
    padding: 0;
}

/* Linki */
a {
    border-bottom: none;
    color:#6B5145;
    text-decoration: none;
}

    a:hover {
        color:  #00A64D !important;
        text-decoration: none;
        font-size: 1em;
    }

/* Boxy */
    body > *{
        width: 100%;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    /* Header */
    .inner{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
		background-image: url("../../images/bg.jpg");
		background-position: top left,							top left;
		background-repeat: repeat,								no-repeat;
        background-size: 100%;
        height: 300px;
        margin:0;
        width: 100%;
        box-shadow: -3px 4px 2px rgb(0,0,0,0.4);
        
    }

    .inner h1{
        background-color:rgb(42,75,55,0.8);
        text-align: center;
        min-width: 10em;
        position: relative;
        box-shadow: -3px 3px 2px rgb(0,0,0,0.3);
        margin: 4px;
        border-radius: 10px 30px;
    }

    strong {
        color: whitesmoke;
        font-weight: 400;
        font-family: 'Dancing Script', cursive;
        text-align: center;
    }

/*  Do tego momentu jest ok */


    /* Main: About me, Recent work, Button */

    #main {     /*About me and rest*/
        display: flex;
        justify-content: center;
        justify-self: center;
        flex-direction: column;
        max-width: 800px;
        align-content: center;
        flex-wrap: nowrap;
        margin: 0 auto 0 auto;
    }

    #main >* {
        background-color: whitesmoke;
        margin: 0;
        border-bottom: solid 3px #2c593c83;

    }
    /*About me*/
    .major{  /*About - napis*/
        padding-left: 2em;
    }
    
    #one p{     /*Some informations*/
        justify-content: left;
    }
            #two{
                display: flex;
                flex-direction: column;
                position: relative;
                justify-content: center;
                flex-wrap: nowrap;
                align-content: center;
                max-width: 100%;
                /*border: 5px solid rgb(200, 255, 0);*/
            }	
            #two #recent{
                padding-left: 1.4em;
            }
    /* Python programmes */
            .row{
                /*background-color: #D9D5DE;*/
                margin: 4px;
            }

                /* Boxes in programes*/
                .row >*{
                    /*background-color: rgb(98, 161, 177);*/
                    margin: 5px;
                    /*border-bottom: solid 2px #2c593c83;*/

                }
                article > *{
                    margin: 0;
                    align-items: center;
                }



    /* Footer */
   
    #footer{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        flex-direction: column;
		background-image: url("../../images/bg.jpg");
		background-position: top left,							top left;
		background-repeat: repeat,								no-repeat;
        background-size: 100%;   
        height: 60px;
        box-shadow: 3px -4px 2px rgb(0,0,0,0.6);
    }

    #footer >* {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 100%;
        
    }
    .icons a{
        color: white;
    }
    .icons a:hover{
        color: #2C593C;
    }
    .copyright{
        color: white;
    }

/* Image */
.image {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.avatar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 100px;
}
.avatar img {
    border-radius: 100%;
    width: 100px;
}

/* Button*/

.button{
    background: whitesmoke;
    border: 2px solid #2C593C;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    max-width: 30%;
    box-shadow: -3px 3px 2px rgb(0,0,0,0.3);
    height: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.button:hover {
    color: #308C58 !important;
    border: 2px solid #308C58;
}

